DEV_MODE=disabled
TIMEZONE=Africa/Johannesburg
LANGUAGE=english
COMMAND_PREFIX=!
DOCKER_SOCKET_PATH=/run/docker.sock
PEON_DIRECTORY=/root/peon
PEON_WEBUI_HOST_PORT=80
PEON_CACHE_ENABLED=false
PEON_CACHE_URL=http://host.docker.internal:3128
PEON_CACHE_BYPASS=localhost,127.0.0.1,host.docker.internal,peon.orc,peon.webui,peon.db
PEON_PROXY_ENABLED=false
PEON_PROXY_DOMAIN=
PEON_PROXY_EMAIL=
DISCORD_TOKEN=DISCORD-API-TOKEN
PEON_API_KEY=Zu88Zu88
CONTROL_CHANNEL=peon